@page "/getting-started"

<PageHeader Title="Installation"
            SubHeading="How to get up and running with Blazored Modal." />

<p>You can install the package via the nuget package manager just search for Blazored.Modal. 
    You can also install via powershell using the following command.</p>

<Code Language="language-clike">
    Install-Package Blazored.Modal
</Code>

<p>Or via the dotnet CLI.</p>

<Code>
    dotnet add package Blazored.Modal
</Code>