<div class="mb-8">
    <h1 class="text-4xl">@Title</h1>
    <div class="mt-0 mb-4 text-gray-600">@SubHeading</div>
    <hr class="my-8 border-b-2 border-gray-200">
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string SubHeading { get; set; }
}
