<div id="navWrapper" class="lg:w-1/4 xl:w-1/5">
    <nav class="px-6 pt-10 lg:text-sm">
        <div class="mb-8">
            <a href="/" class="flex items-center px-2 -mx-2 py-1 hover:text-blazoredorange font-medium text-gray-900">
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path class="text-gray-400 fill-current" d="M19,11v9h-5v-6h-4v6H5v-9H3.6L12,3.4l8.4,7.6H19z"></path>
                    <path class="text-gray-700 fill-current" d="M20,21h-7v-6h-2v6H4v-9H1l11-9.9L23,12h-3V21z M15,19h3v-8.8l-6-5.4l-6,5.4V19h3v-6h6V19z"></path>
                </svg>
                <span class="ml-3">Home</span>
            </a>
        </div>

        <div class="mb-8">
            <h5 class="mb-3 lg:mb-2 text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">Getting Started</h5>
            <ul>
                <li class="mb-3 lg:mb-1">
                    <NavLink href="/getting-started"
                             class="px-2 -mx-2 py-1 transition duration-200 ease-in-out relative block hover:translate-x-2px hover:text-blazoredorange text-gray-600 font-medium">
                        Installation
                    </NavLink>
                    <NavLink href="/getting-started/basic-usage"
                             class="px-2 -mx-2 py-1 transition duration-200 ease-in-out relative block hover:translate-x-2px hover:text-blazoredorange text-gray-600 font-medium">
                        Basic Usage
                    </NavLink>
                </li>
            </ul>
        </div>

        <div class="mb-8">
            <h5 class="mb-3 lg:mb-2 text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">Usage</h5>
            <ul>
                <li class="mb-3 lg:mb-1">
                    <NavLink href="/usage/passing-data"
                             class="px-2 -mx-2 py-1 transition duration-200 ease-in-out relative block hover:translate-x-2px hover:text-blazoredorange text-gray-600 font-medium">
                        Passing Data To Modals
                    </NavLink>
                </li>
                <li class="mb-3 lg:mb-1">
                    <NavLink href="/usage/returning-data"
                             class="px-2 -mx-2 py-1 transition duration-200 ease-in-out relative block hover:translate-x-2px hover:text-blazoredorange text-gray-600 font-medium">
                        Returning Data From Modals
                    </NavLink>
                </li>
                <li class="mb-3 lg:mb-1">
                    <NavLink href="/usage/multiple-modals"
                             class="px-2 -mx-2 py-1 transition duration-200 ease-in-out relative block hover:translate-x-2px hover:text-blazoredorange text-gray-600 font-medium">
                        Multiple Modals
                    </NavLink>
                </li>
                <li class="mb-3 lg:mb-1">
                    <NavLink href="/usage/customisation"
                             class="px-2 -mx-2 py-1 transition duration-200 ease-in-out relative block hover:translate-x-2px hover:text-blazoredorange text-gray-600 font-medium">
                        Customisation Options
                    </NavLink>
                </li>
            </ul>
        </div>
    </nav>
</div>