@page "/"

<PageHeader Title="Welcome"
            SubHeading="Offical docs for Blazored Modal"/>

<p>If you're new to Blazored Modal please start by reading the <a href="/getting-started/">getting started</a> section.</p>
